body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.showInfo {
  /* display: none; */
  font-size: 16px;
  color: #666;
  border: 1px solid #ccc;
  padding: 10px;
}
.certInfo {
  white-space: pre;
  font-size: 16px;
  color: #666;
  border: 1px solid #ccc;
  padding: 10px;
}
.serveBackInfo {
  /* display: none; */
  white-space: pre;
  font-size: 16px;
  color: #666;
  border: 1px solid #ccc;
  padding: 10px;
}
